.card{
    position: relative;
    width: 100%;
    height: 230px;
    background-color: #291196;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .img-banner-play{
    width: 130px;
    margin-bottom: 30px;
    height: auto;
    object-fit: cover;
    z-index: 5;
}
.card .titles-card{
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}
.card .titles-card a img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.card .titles-card h1{
    font-size: 16px;
    color: #ffffff;
}
.card .titles-card a{
    transition: 0.32;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.card .titles-card a:hover{
    background-color: #ffffff41;
}
.card .titles-card a h1{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}